<!-- embedded javascript file -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="menu">
        <div class="container">
            <a href="/" class="logo">EJS Project</a>

            <div class="menu-item">
                <a href="/">Home</a>
                <a href="/add/user">Add User</a>
            </div>
        </div>
    </nav>
    <section class="home-container">
        <div class="title">
            <h1>Add User</h1>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Password</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(item=> { %>
                        <tr>
                            <td>
                                <%= item.name %>
                            </td>
                            <td>
                                <%= item.email %>
                            </td>
                            <td>
                                <%= item.password %>
                            </td>
                            <td>
                                <%= item.isActive %>
                            </td>
                            <td>
                                <a href="/" class="success">Edit</a>
                                <a href="/" class="danger">Delete</a>
                            </td>
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </section>

    <script>
        const readUser = async () => {
            await fetch(`/api/user/all`, {
                method: "GET",
                headers: {
                    "content-type": "application/json"
                }
            }).then(res => res.json())
                .then(res => {
                    console.log(`users =`, res)
                }).catch(err => console.log(err.message))
        }

        readUser()
    </script>
</body>

</html>