<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="menu">
        <div class="container">
            <a href="/" class="logo">EJS Project</a>

            <div class="menu-item">
                <a href="/">Home</a>
                <a href="/add/user">Add User</a>
            </div>
        </div>
    </nav>
    <section class="home-container">
        <div class="title">
            <h1>Requested path Not Found</h1>
            <h2>404 Error</h2>
        </div>
    </section>
</body>

</html>